<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>百度新闻</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/move/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/news.css">
</head>

<body>
    <!-- 全部 -->
    <div class="whole">
        <!-- 头部区 -->
        <header>
            <!-- 头部区上 -->
            <div class="head-up">
                <!-- 头部区上左侧图 -->
                <a href="#" class="img-bd-icon img-left"></a>
                <!-- 头部区上右侧图 -->
                <a href="/" target="_blank" class="img-user img-right"><span>后台</span></a>
            </div>
        </header>
        <!-- 内容区 -->
        <article class="content">
            <!-- 导航 -->
            <nav class="head-down">
                <div class="tit"><span class="tabin">精选</span></div>
                <div class="tit"><span>百家</span></div>
                <div class="tit"><span>本地</span></div>
                <div class="tit"><span>娱乐</span></div>
                <div class="tit"><span>社会</span></div>
            </nav>
            <section class="index_view_sections">
                <div class="index-view-subpage">
                    <div class="index-view-subpage-feed">
                        <div id="loading"></div>
                        <div id="list">
                            <ul class="list-unstyled">
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </article>
        <footer>
            <div class="float">
                <div class="top"></div>
                <div class="feedback"></div>
            </div>
        </footer>
    </div>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/news1.js"></script>
</body>

</html>
